-pages = ['Registrarse','ingresar','Eres Proveedor']
-LinkPagina = 'https://tecontactamos.com.pe'
-pageTitle =  'Te Contactámos'
-currentPage= 'inicio'
-siteTitle = 'XXXX'
-TituloLanding = 'Te Contactámos | Especialistas a tu alcance'
-description='Contactate con los mejores especialistas del mercado peruano; 100% garantizado en seguridad y confianza'
-siguenos = true
-pageTitleLogin =  'Iniciar Sesion'
-pageTitleRegistro =  'Iniciar Sesión'
-empresa ='Empresa'
-descriptionPlanSuscripcion = "Elección de Plan de Suscripcion"
-descriptionTarjetadeCredito = "Registro de Datos de Medios de Pago - Tarjeta de Crédito"
-descriptionCuentaUsuario = "Mi Cuenta de Usuario Registrado en  Te Contactámos"
-MonedaNacional='S/.'
-TelefonoContacto='955453193'
-MontoLibre = '0.00'
-MontoPlata = '50.00'
-MontoOro = '100.00'
-ogsitename=''
-ogimage=''
-ogimageurl=''
-ogdescription='Contactate con los mejores especialistas del mercado peruano; 100% garantizado en seguridad y confianza'
